<li class="country-item">
    <div class="country-img">
        <img class="flags-img" src="{{flags.svg}}" alt="">
    </div>
    <div class="country-title">
        <h3 class="counry-title-official"><b>{{name.official}}</b></h3>
    </div>
</li>